<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.minggo.plutoandroidexample">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".common.PlutoApplication"
        android:allowBackup="true"
        android:icon="@drawable/pluto"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PlutoActivityExample"
            android:label="@string/title_activity_pluto_example"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.minggo.plutoandroidexample.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.PlutoFragmentExample"
            android:label="@string/title_activity_pluto_fragment_example"
            >
        </activity>
        <activity
            android:name=".activity.PlutoDialogExample"
            android:label="@string/title_activity_dialog_example"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.minggo.plutoandroidexample.activity.MainActivity"/>
        </activity>
        <activity android:name=".activity.PlutoAPIEngineExample"
                  android:label="@string/title_activity_apiengine_example">
        </activity>
    </application>

</manifest>