<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.minggo.plutoandroidexample">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>

    <application
        android:name=".common.PlutoApplication"
        android:allowBackup="true"
        android:icon="@drawable/pluto"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="github"/>
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="1606ffcdf5"/>
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true"/>
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START"/>
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false"/>
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true"/>
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true"/>
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true"/>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PlutoActivityExample"
            android:label="@string/title_activity_pluto_example"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.minggo.plutoandroidexample.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.PlutoFragmentExample"
            android:label="@string/title_activity_pluto_fragment_example">
        </activity>
        <activity
            android:name=".activity.PlutoDialogExample"
            android:label="@string/title_activity_dialog_example"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.minggo.plutoandroidexample.activity.MainActivity"/>
        </activity>
        <activity
            android:name=".activity.PlutoAPIEngineExample"
            android:label="@string/title_activity_apiengine_example">
        </activity>
        <activity
            android:name=".activity.PlutoImageFrameworkExample"
            android:label="PlutoImageFrameworkExample">
        </activity>
        <activity
            android:name=".activity.PlutoNetworkExample"
            android:label="PlutoNetworkExample">
        </activity>
        <activity
            android:name=".activity.PlutoFileCacheExample"
            android:label="PlutoFileCacheExample">
        </activity>
        <activity
            android:name=".activity.PlutoORMDBFrameworkExample"
            android:label="PlutoORMDBFrameworkExample">
        </activity>
        <activity android:name=".activity.PlutoUtilsActivity">
        </activity>
    </application>

</manifest>